# ----------------------------------
# Anomaly Detection - Ignore Rules
# ----------------------------------

# Data Folder:
[dD]ata*/


# Data Docs:
*.csv


# Trained ModelsÑ
.models


# Custom directories
.docs/
.intermediate/


# General-----------------------------


# Temporal Files:
~$*
*.tmp
*.swp
*.bak


# Python cache
__pycache__/
*.pyc
*.pyo


# Jupyter (auto backups)
.ipynb_checkpoints/


# VSCode (local setup)
.vscode/


# MacOS extra
.DS_Store


# Cache general
.cache/